.header-wrapper {
    width: 100vw;
    height: 95vh;
    background-color: #f5f5f5;
    font-family: $ff-mont;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../public/assets/pexels-jmeyer1220-668298.jpg) no-repeat center center fixed;
    position: relative;


    .background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(11, 86, 140, 0.4);
    }


    .header-container {
        display: inline-block;
        z-index: 10;

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-top: 2rem;

            button {
                font-family: $ff-mont;
                font-weight: 500;
                font-size: $fs-sub;
                color: $clr-light;
                background-color: $clr-blue;

                &:hover {
                    background-color: $clr-light;
                    color: $clr-blue;
                }
            }
        }

        .header-title {
            color: white;
            font-size: $fs-head;
            font-family: $ff-mont;
            font-weight: 700;
            margin-bottom: 1rem;
            text-align: center;
        }

        .links {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            margin-top: 2rem;
            


            button {
                font-family: $ff-mont;
                font-weight: 500;
                font-size: $fs-sub;
                color: $clr-light;
                background-color: $clr-blue;
                transition: all 0.3s;

                &:hover {
                    background-color: $clr-light;
                    color: $clr-blue;
                }
            }

        }
    }

}