
$clr-blue: #0B568C;
$clr-red: #8C191B;
$clr-light: #F7FCFF;
$clr-grey: #F7F7F7;
$clr-grey-dark: #54595E;
$clr-dark: #333;

$ff-sans: 'Open Sans', sans-serif;
$ff-mont: 'Montserrat', sans-serif;

$fs-base: 1.6rem;
$fs-sub: 2.4rem;
$fs-head: 3.6rem;
$fs-small: 1.2rem;
